main #tasks .task-list .task-component {
    min-width: 30rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.task-component .task-content {
    width: 100%;
    height: 15.3rem;

    padding: 2.4rem;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;


    background: var(--white-900);
    box-shadow: 0px 4px 16px var(--white-700);

    position: relative;
}

.task-component .task-content.dragging {
    border: 1px solid var(--purple-700);
    opacity: 0.4;
}


.task-component .task-content .status {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: .3rem;
    background: var(--purple-700);
}

.task-component .task-content .status {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    color: var(--white-700);
}

.task-component .task-content .status:hover small {
    display: unset;
}

.task-component .task-content .status small {
    display: none;
}

.task-component .task-content .task-title {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    color: var(--gray-900);
}

.task-component .task-content .task-description {
    font-size: 1.4rem;
    font-size: normal;
    font-weight: 500;
    color: var(--gray-900);
    line-height: 2rem;

    overflow: hidden;
    text-overflow: ellipsis;
}

.task-component .task-content .task-category {

    display: flex;
    align-items: center;
    gap: 1rem;
}

.task-component .task-content .task-category span {
    font-size: 1.1rem;
    font-weight: 500;
    font-size: normal;
    line-height: 2rem;

    padding: .4rem .8rem;
    border-radius: .8rem;

    text-transform: capitalize;
    color: var(--purple-700);
}